<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174182477-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-174182477-1');
    </script>

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheetv2.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        <!--
        /* Facebook */
        .fa-facebook {
            color: #55ACEE;
        }

        /* Twitter */
        .fa-twitter {
            color: #55ACEE;

        }

        .fa-instagram {
            color: #fe4164;

        }

        .fa-linkedin {
            color: #007bb5;

        }

        .fa-skype {
            color: #00aff0;

        }

        .fa-whatsapp {
            color: #4ac959;

        }

        .fa-telegram {
            color: #0088cc;

        }

        .fa-mail-reply-all {
            color: #00aff0;

        }
        -->
    </style>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <a id="skip-to-content" href="#content">Skip to Main Content</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <!--<h2 class="project-tagline">
            {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}

        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}

        <a href="/index.html" class="btn">Home</a>
        <a href="/education/index" class="btn">Education</a>
        <a href="/projects/index" class="btn">Projects</a>
        <a href="/contact.html" class="btn">Contact Me</a>

    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}



        <footer class="site-footer">
            <div class="main-content" style="font-size:30px" align="center">
                <a target="_blank" href="https://bit.ly/adivardhan_facebook" class="fa fa-facebook"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_twitter" class="fa fa-twitter"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_instagram" class="fa fa-instagram"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_linkedin" class="fa fa-linkedin"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_skype" class="fa fa-skype"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_whatsapp" class="fa fa-whatsapp"></a>
                <a target="_blank" href="https://bit.ly/adivardhan_telegram" class="fa fa-telegram"></a>
                <a target="_blank" href="mailto:maheshwariaa_1@rknec.edu" class="fa fa-mail-reply-all"></a><br>
              </div>
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}

            <span class="site-footer-credits">

                Hey there..! This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
            </span>
        </footer>
    </main>
</body>

</html>